<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/user-registration" class="form-registration">
            <h1>Регистрация</h1>
            <input type="text" name="name" placeholder="Имя"/>
            <input type="text" name="login" placeholder="Логин"/>
            <input type="password" name="password" placeholder="Пароль"/>
            <button type="submit">Зарегистрироваться</button>
            
        </form>
        <a href="/login" class="come">Я уже есть в системе, войти</a>
    </div>
   
</body>
</html>